{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a data-toggle="tab" href="#login" class="active show"><span>Login</span></a></li>
                                   <li><a data-toggle="tab" href="#register" ><span>Register</span></a></li>
                                </ul>               
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="row">
                       
                        <div id="login" class="tab-pane active show" role="tabpanel">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <form action="#"  id="login-form">
                                    {% csrf_token %}
                                    <div class="login-form">
                                        <h4 class="login-title">Login</h4>
                                        <p id ="loginMsg"> </p>
                                        <div class="row">
                                            <input  id="next" type="hidden" value="{{redirect_page}}">
            
                                            <div class="col-md-12 col-12 mb-20">
                                                <label>Email Address*</label>
                                                <input class="mb-0 form-control" id="loginEmailField" type="email" placeholder="Email Address">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Password</label>
                                                <input class="mb-0 form-control" id="loginpasswordField" type="password" placeholder="Password">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                                    <input type="checkbox" id="remember_me">
                                                    <label for="remember_me">Remember me</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                                <a href="{% url 'reset-pw' %}"> Forgotten password?</a>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="register-button mt-0" id="login-btn">Login</button>
                                            </div>
                                            {% comment %} <div class="col-md-12">
                                                <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i> Login With Google</a>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                      
                        </div>
                        <div id="register" class="tab-pane " role="tabpanel">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <form action="#" id="reg-form">
                                    <div class="login-form form-group">
                                        <h4 class="login-title">Register</h4>
                                        
                                        {% csrf_token %}
                                        <input  id="next" type="hidden" value="{{redirect_page}}">

							    		<div class="form-group">
							    			<label for="singin-email-2">Email address *</label>
							    			<input type="text"  class="form-control" id="loginEmailField" name="email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="loginpasswordField" name="password" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button login-btn type="submit" class="btn btn-outline-primary-2" id="login-btn">
			                					<span>LOG IN</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="signin-remember-2">
												<label class="custom-control-label" for="signin-remember-2">Remember Me</label>
											</div><!-- End .custom-checkbox -->

											<a href="#" class="forgot-link">Forgot Your Password?</a>
							    		</div><!-- End .form-footer -->
							    	</form>
							    </div><!-- .End .tab-pane -->
							    <div class="tab-pane fade " id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    	<form action="#" id="reg-form">
							    		<div class="form-group">
							    			<label for="register-email-2">Your email address *</label>
							    			<input type="email" class="form-control" id="register-email-2" name="register-email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id="register-password-2" name="register-password" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2" id="reg-btn">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">I agree to the <a href="{% url 'policy' %}">privacy policy</a> *</label>
											</div><!-- End .custom-checkbox -->
							    		</div><!-- End .form-footer -->
							    	</form>
							    
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
        <script src="{% static 'assets/js/auth.js' %}"></script>
		{% include 'js.html' %}

{% endblock %}
