{% extends 'base.html' %}
{% load static %}
{% block content %}
 
    <!-- Error 404 Area Start -->
    <div class="error404-area pt-30 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="error-wrapper text-center ptb-50 pt-xs-20">
                        <div class="error-text">
                            <h1>404</h1>
                            <h2>Opps! PAGE NOT  FOUND</h2>
                            <p>Sorry but the page you are looking for does not exist, have been removed, <br> name changed or is temporarity unavailable.</p>
                        </div>
                        <div class="search-error">
                            <form id="search-form" action="{% url 'search' %}">
                                <input name="item" type="text" placeholder="Enter your search key ..." required>
                                  <input name="sort" type="hidden" value="{{sort_query}}" required>
                                <button><i class="zmdi zmdi-search"></i></button>
                            </form>
                           
                        </div>
                        <div class="error-button">
                            <a href="{% url 'homepage' %}">Back to home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock  %}
