{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    #product-select {
        display:none
    }
</style>
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!--Shopping Cart Area Strat-->
    <div class="Shopping-cart-area pt-60 pb-60">
        <div class="container">
            {% include 'asyncMessages.html' %}

            <div class="row">
                <div class="col-12">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <p class="text-primary ">
                                        <i class="fa fa-info"></i> you can increase your order quantity, and hit the refresh<i class="fa fa-refresh"></i> button to effect changes
                                    </p>
                                    <p class="text-primary ">
                                        <i class="fa fa-info"></i>The Total amount excludes "out in stock" cart items. please do well to remove them from cart list
                                    </p>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="li-product-thumbnail">image</th>
                                        <th class="li-product-price">Unit Price</th>
                                        <th class="li-product-quantity">Quantity</th>
                                        <th class="li-product-subtotal">Total</th>
                                        <th  class="li-product-remove">Action  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item  in cart_items  %}
                                    <tr class="cart-row-item" id="cart-row-{{item.id}}">
                                        <td class="li-product-name"><a href="{% url 'product' item.product.slug %}">{{item.product.name}}</a></td>
                                        <td class="li-product-thumbnail"><img draggable='false' src="{{item.product.img1.url}}" alt="" width=80></td>
                                        {% if item.product.discount == 0 %}
                                        <td class="li-product-price">&#8358;<span id ="product-price" class="amount">{{item.product.price |intcomma}}</span></td>
                                        <input  id="prod-price"  value="{{item.product.price}}" type="hidden">
                                        {% else %}
                                        <td class="li-product-price">&#8358;<span id ="product-price" class="amount">{{item.product.discount_price |intcomma}}</span></td>
                                        <input  id="prod-price"  value="{{item.product.discount_price}}" type="hidden">
                                        {% endif %}
                                        <td class="quantity">
                                            {% if item.product.in_stock %}
                                            <div style="cursor:pointer"  onclick="updateCartItem(this)">  <i class="fa fa-refresh"></i>  </div>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box this" id="quantity"  value="{{item.number_of_items}}" type="text">
                                                <div class="dec qtybutton" id="i-btn"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton" ><i class="fa fa-angle-up" id="inc-btn" ></i></div>
                                            </div>
                                            {% else %}
                                            <button disabled  class="add-to-cart btn btn-secondary text-sm btn-sm"> Out Of Stock </button>
                                            {% endif %}
                                        </td>
                                        <td class="product-subtotal">
                                            <span id="product-total" class="amount">&#8358;{{item.CartTotal|intcomma}}</span>
                                            <input class="cart-plus-minus-box this" id="cart-id"  value="{{item.id}}" type="hidden">
                                        </td>
                                 
                                        <td class="li-product-remove">
                                            <a id="del-cart" style="cursor:pointer" onclick="deleteCartItem(this)"><i class="fa fa-trash "  style=" font-size:20px" ></i> <span id="product-select" > {{item.product.slug}} </span></a>
                                        </td>
                                        {%empty%}
                                        <td colspan="6">
                                            you have not added any items to cart
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      
                        <div class="row">
                            <div class="col-md-65 ml-auto">
                                <div class="cart-page-total">
                                    <ul>
                                        {% comment %} <li>Subtotal <span>$130.00</span></li> {% endcomment %}
                                        <li >Total <span id="cart-items-total">&#8358;{{total|intcomma}}</span></li>
                                    </ul>
                                    <a href="{% url 'checkout' %}">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-area pt-60 pb-50">
        <div class="container">
            <div class="shop-products-wrapper">
                <div class="tab-content">
                    <div id="grid-view" >
                        <div class="product-area shop-product-area ">
                            <div class="li-section-title">
                                <h2>Related Items (sorted by brands, categories, or views)
                                </h2>
                                
                            </div>
                            <div class="row px-3" >
                                {% for product in products  %}
                                <div  id="prod-wrapper-index" class="mt-4 p-3">
                                    <!-- single-product-wrap start -->
                                    <div class="single-product-wrap ">
                                        <div class="product-image ">
                                            <a href="{% url 'product' product.slug %}">
                                                <img width="" style ="max-width:150px; height:100px" src="{{product.img1.url}}" alt="Li's Product Image">
                                            </a>
                                            {% if product.is_new %}
                                            <span class="sticker">New</span>
                                            {% endif %}
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                
                                                <h4><a class="product_name" href="{% url 'product' product.slug %}">{{product.name}}</a></h4>
                                                <div class="price-box">
                                                    {% if product.discount == 0 %}
                                                    <span class="new-price new-price-2">&#8358;{{product.price |intcomma }}</span>
                                                    {% else %}
                                                    <span class="new-price new-price-2">&#8358;{{product.discount_price |intcomma }}</span>
                                                    <span class="old-price">&#8358;{{product.price |intcomma }}</span>
                                                    <span class="discount-percentage">-{{product.discount}}%</span>
                                                    {% endif %}
                                                </div>
                                                <div class="my-4">
                                                    {% if user.is_authenticated %}
                                                    {% if product.in_stock %}
                                                    <button onclick="AddTocart(this)" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"> <i class="fa fa-shopping-cart"></i>  <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                                    <button onclick="AddToWishList(this)" class="btn  btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                    {% else %}
                                                    <button disabled  class="add-to-cart btn btn-secondary text-sm btn-sm"> Out Of Stock </button>
            
                                                    {% endif %}
                                                    {% else %}
                                                    <button onclick="loginRequiredAction()" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i>  <span id="prod-name"> {{product.slug}}</span></button>
                                                    <button onclick="loginRequiredAction()" class="btn btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                    {% endif %}  
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <!-- single-product-wrap end -->
                                </div>
    
                                {%empty%}
                                <div class="product_desc">
    
                                no products 
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
        </div>
    </div>



    <script>
        function deleteCartItem(elem) {

            fetch(`{% url 'del-cart-item'  %}?item=${elem.textContent}`, {
                method:"GET"
            })
            .then((res) => res.json())
            .then((data) => {
                console.log('data', data)
                elem.parentNode.parentNode.innerHTML = ''
                fetchCartData();
             })

        }
      
        function updateCartItem(elem) {
            const rowElem = elem.parentNode.parentNode
            const quantity = rowElem.querySelector("#quantity").value
            var cartId = rowElem.querySelector("#cart-id")
            var price = rowElem.querySelector("#prod-price").value
            var DispTotal = rowElem.querySelector("#product-total")
            const msgArea = document.getElementById('msgArea')
            const CartItemsTotal = document.getElementById('cart-items-total')
            var amount = Number(quantity) * Number(price)
            cartId = `${cartId.value}`
            msgArea.innerHTML = ''
            fetch(`/users/update-cart/${cartId}?p=${quantity}`, {
                method:"GET"
            })
            .then((res) => res.json())
            .then((data) => {
               if (data.error) {
                msgArea.setAttribute("style", "display:block")
                msgArea.classList.remove('alert-success')
                msgArea.classList.add('alert-danger')
                msgArea.innerHTML = `${data['error']}`
               }
               else {
                   fetchCartData();
                   DispTotal.innerHTML = `&#8358;${amount.toLocaleString()}`
                   CartItemsTotal.innerHTML = `&#8358;${data['total'].toLocaleString()}`
                   msgArea.setAttribute("style", "display:block")
                   msgArea.classList.remove('alert-danger')
                    msgArea.classList.add('alert-success')
                   msgArea.innerHTML = `cart updated successfully`
               }
             })
            
        }
    </script>
    {% endblock  %}