{% extends 'main/base.html' %}
{% load static %}
{% load humanize  %}
{% block content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'cart-page' %}">Cart</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Checkout Area Strat-->
<div class="checkout-area pt-60 pb-30">
    <div class="container">
        <div class="row">
          
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                {% if user.is_billing_address == True %}
                <div>
                    <h4>Your delivery address is currently set to 
                    </h4>
                    <ul class="py-3" style="font-size:20px; text-transform:capitalize;">
                        <li> {{user.address}},  {{user.apartment}}, </li>
                        <li> {{user.city}}, {{user.state}},  </li>
                        <li> {{user.country}}  </li>

                    </ul>

                </div>
                <div class="different-address">
                    <div class="ship-different-title">
                            <p>Ship to a different address? 
                            <a href="{% url 'account' %}" > change you shipping/delivery info here </a>
                        </p>
                    </div>
                    
                    {% comment %} <div class="order-notes">
                        <div class="checkout-form-list">
                            <label>Order Notes</label>
                            <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                        </div>
                    </div> {% endcomment %}
                </div>
                {% else %}
                <div>
                <h4 class="my-4">Your delivery address has not been set. Add Delivery address to continue</h4>

                <a class="btn btn-info" href="{% url 'account' %}" > Set billing info </a>
                </div>
                {% endif %}
            </div>
            
            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-total">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr class="cart_item">
                                    <td class="cart-product-name"> {{item.product.name}} <strong class="product-quantity"> × {{item.number_of_items}} </strong></td>
                                    <td class="cart-product-total"><span class="amount">&#8358;{{item.CartTotal|intcomma}} </span></td>  
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                
                                <tr class="order-total">
                                    <th>Grand Total</th>
                                    <td><strong><span class="amount">&#8358;{{order_total|intcomma}}</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="order-button-payment">
                                {% comment %} <input value="Place order" type="submit"> {% endcomment %}
                                {% if user.is_billing_address == True and order_amt != 0 %}
                                
                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#mymodal">Place Order</a>
                                {% endif %}
                               
                                <div class="modal fade modal-wrapper" id="mymodal" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content p-2">
                                            <div class="modal-body">
                                                <div class="modal-inner-area row mb-5" style="font-size:15px">
                                                    <p class=" text-warning " > <i class ="fa fa-info" ></i> The next page is a simulated (demo) payment to test 
                                                        paystack integration. You are not required to enter any card details. Just follow the prompts. click on success or 
                                                        authorize if the success button doesn't work. 
                                                        <br>
                                                        <i class ="fa fa-info" ></i> No refund After payment is made
                                                    </p>
                                                    <span > <i class="fa fa-info text-secondary"></i> NOTE: payment includes the paystack fee/commission of 1.8% 
                                                        <p class="text-secondary"> Total amount payable is &#8358;{{payable_amt|intcomma}} </p>
                                                    </span>
                                                    
                                                </div>
                                                <div class=" mt-4 ">
                                                    <a href="#" class="btn btn-warning mr-5" class="close" data-dismiss="modal" aria-label="Close">Cancel</a>
                                                    <a class="btn btn-success ml-5" href="{% url 'payment' %}" >Continue </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% comment %} <button  class="btn btn-dark" onclick="payWithPaystack()"> Pay Now</button> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
    function payWithPaystack() {
        const first_name= "{{user.first_name}}"
        const last_name= "{{user.last_name}}"
        const email= "{{user.email}}"
        const amt = {{order_amt}} * 100
        console.log(typeof(amt), amt)
        let handler = PaystackPop.setup({
          key: 'pk_test_80ce0931ea2340cedcc210e22b23b973a0397752', // Replace with your public key
          email: `${email}`,
          amount: amt,
        //  currency: 'NGN',
          channels: ['card'],
          ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
          // label: "Optional string that replaces customer email"
          onClose: function(){
            alert('Window closed.');
          },
          callback: function(response){
            let message = 'Payment complete! Reference: ' + response.reference;
            alert(message);
            //here, make request to create order, redirect user to another page
            window.location = "/place-order"
          }
        });
      
        handler.openIframe();
      }
    </script>

{% endblock %}
