{% extends 'main/base.html' %}
{% load static %}
{% load humanize  %}
{% block content %}
<style>
    #product-to-add{
        display:none
    }
    .add-actions-link button {
        border:none;
        background:transparent;
        color:#333
    }
</style>
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-8 col-md-8">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left  animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>&#8358;181,449.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'market' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>&#8358;181,449.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'market' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>&#8358;181,449.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'market' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="li-banner">
                    <a href="{% url 'market' %}">
                        <img src="{% static 'images/banner/1_1.jpg' %}" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                    <a href="{% url 'market' %}">
                        <img src="{% static 'images/banner/1_2.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<div class="container my-5 p-2 ">
   <div class="shop-products-wrapper">
            <div class="tab-content">
                <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                    <div class="product-area shop-product-area">
                        <div class="li-section-title">
                            <h2>Shop By Category
                                {% comment %} <span></span> {% endcomment %}
                            </h2>
                            
                        </div>
                        <div class="row">
                            {% for category in product_categories  %}
                            <div class=" col-2 mt-40 p-2">
                                
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap ">
                                    <div class="product-image">
                                        <a href="{% url 'shop' category.slug %}">
                                            <img src="{{category.thumbnail.url}}" width="50" height="50" alt="{{category.category}}">
                                        </a>
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info " >
                                            <h4><a style="font-size:11px !important; padding:0 !important" class="product_name" href="{% url 'shop' category.slug %}">{{category.category}}</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>
                            {%empty%}
                            <div class="product_desc">
                            no categories 
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="shop-products-wrapper">
            <div class="tab-content">
                <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                    <div class="product-area shop-product-area ">
                        <div class="li-section-title">
                            <h2>Latest Products
                                {% comment %} <span></span> {% endcomment %}
                            </h2>
                            
                        </div>
                        <div class="row px-3" >
                            {% for product in latest_products  %}
                            <div  id="prod-wrapper-index" class="mt-5 p-3">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap ">
                                    <div class="product-image ">
                                        <a href="{% url 'product' product.slug %}">
                                            <img width="" style ="max-width:150px; height:100px" src="{{product.img1.url}}" alt="Li's Product Image">
                                        </a>
                                        {% if product.is_new %}
                                        <span class="sticker">New</span>
                                        {% endif %}
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            
                                            <h4><a class="product_name" href="{% url 'product' product.slug %}">{{product.name}}</a></h4>
                                            <div class="price-box">
                                                {% if product.discount == 0 %}
                                                <span class="new-price new-price-2">&#8358;{{product.price|intcomma}}</span>
                                                {% else %}
                                                <span class="new-price new-price-2">&#8358;{{product.discount_price|intcomma}}</span>
                                                <span class="old-price">&#8358;{{product.price|intcomma}}</span>
                                                <span class="discount-percentage">-{{product.discount}}%</span>
                                                {% endif %}
                                            </div>
                                            <div class="my-4">
                                                {% if user.is_authenticated %}
                                                {% if product.in_stock %}
                                                <button onclick="AddTocart(this)" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"> <i class="fa fa-shopping-cart"></i>  <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                                <button onclick="AddToWishList(this)" class="btn  btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                {% else %}
                                                <button disabled  class="add-to-cart btn btn-secondary text-sm btn-sm"> Out Of Stock </button>
        
                                                {% endif %}
                                                {% else %}
                                                <button onclick="loginRequiredAction()" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i>  <span id="prod-name"> {{product.slug}}</span></button>
                                                <button onclick="loginRequiredAction()" class="btn btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                {% endif %}  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>

                            {%empty%}
                            <div class="product_desc">

                            no products 
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
               
              
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->


<!-- Begin Li's Static Home Area -->
<div class="li-static-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Li's Static Home Image Area -->
                <div class="li-static-home-image"></div>
                <!-- Li's Static Home Image Area End Here -->
                <!-- Begin Li's Static Home Content Area -->
                <div class="li-static-home-content">
                    {% comment %} <p>Sale Offer<span>-20% Off</span>This Week</p> {% endcomment %}
                    <h2>Featured Product</h2>
                    <h2>Meito Accessories 2018</h2>
                    <p class="schedule">
                        Starting at
                        <span> &#8358;120,000.00</span>
                    </p>
                    <div class="default-btn">
                        <a href="{% url 'market' %}" class="links">Start Shopping Now</a>
                    </div>
                </div>
                <!-- Li's Static Home Content Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Li's Static Home Area End Here -->
<!-- Begin Li's Trending Product Area -->
<div class="product-area pt-60 pb-50">
    <div class="container">
        <div class="shop-products-wrapper">
            <div class="tab-content">
                <div id="grid-view" >
                    <div class="product-area shop-product-area ">
                        <div class="li-section-title">
                            <h2>Trending Products
                                {% comment %} <span></span> {% endcomment %}
                            </h2>
                            
                        </div>
                        <div class="row px-3" >
                            {% for product in hot_products  %}
                            <div  id="prod-wrapper-index" class="mt-4 p-3">
                                <!-- single-product-wrap start -->
                                <div class="single-product-wrap ">
                                    <div class="product-image ">
                                        <a href="{% url 'product' product.slug %}">
                                            <img width="" style ="max-width:150px; height:100px" src="{{product.img1.url}}" alt="Li's Product Image">
                                        </a>
                                        {% if product.is_new %}
                                        <span class="sticker">New</span>
                                        {% endif %}
                                    </div>
                                    <div class="product_desc">
                                        <div class="product_desc_info">
                                            
                                            <h4><a class="product_name" href="{% url 'product' product.slug %}">{{product.name}}</a></h4>
                                            <div class="price-box">
                                                {% if product.discount == 0 %}
                                                <span class="new-price new-price-2">&#8358;{{product.price |intcomma }}</span>
                                                {% else %}
                                                <span class="new-price new-price-2">&#8358;{{product.discount_price |intcomma }}</span>
                                                <span class="old-price">&#8358;{{product.price |intcomma }}</span>
                                                <span class="discount-percentage">-{{product.discount}}%</span>
                                                {% endif %}
                                            </div>
                                            <div class="my-4">
                                                {% if user.is_authenticated %}
                                                {% if product.in_stock %}
                                                <button onclick="AddTocart(this)" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"> <i class="fa fa-shopping-cart"></i>  <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                                <button onclick="AddToWishList(this)" class="btn  btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                {% else %}
                                                <button disabled  class="add-to-cart btn btn-secondary text-sm btn-sm" id="add-cart-btn" type="submit"> Out Of Stock </button>
        
                                                {% endif %}
                                                {% else %}
                                                <button onclick="loginRequiredAction()" class="add-to-cart btn btn-warning btn-sm" id="add-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i>  <span id="prod-name"> {{product.slug}}</span></button>
                                                <button onclick="loginRequiredAction()" class="btn btn-warning btn-sm"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                                {% endif %}  
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <!-- single-product-wrap end -->
                            </div>

                            {%empty%}
                            <div class="product_desc">

                            no products 
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
               
              
            </div>
        </div>
    </div>
</div>
<!-- Li's Trending Product Area End Here -->

<script >


</script>
{% endblock  %}