{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<style>
    #product-select {
        display:none
    }
</style>
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'account' %}">Orders</a></li>
                    <li class="active">Order Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!--Wishlist Area Strat-->
    <div class="wishlist-area pt-60 pb-60">
        <div class="container">
            <ul class="pb-3">
                <li> order id : {{order.tracking_id}} </li>
                <li> status : <span class="text-white btn-sm btn-{{order.badge}} ">{{order.status}}</span>  </li>
            </ul>
            <div class="row">
                <div class="col-12">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="li-product-thumbnail">image</th>
                                        <th class="li-product-price">Unit Price</th>
                                        <th class="li-product-price">Quantity</th>
                                        <th class="li-product-remove">amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                    <tr>
                                        <td class="li-product-name"><a href="{% url 'product' item.product.slug %}">{{item.product.name}}</a></td>
                                        <td class="li-product-thumbnail"><img src="{{item.product.img1.url}}" width=80 alt=""></td>
                                        <td class="li-product-price"><span class="amount">&#8358;{{item.unit_price}}</span></td>
                                        <td class="li-product-price"><span class="amount">{{item.quantity}}</span></td>
                                        <td class="li-product-price"><a id="del-cart" style="cursor:pointer" >&#8358;{{item.amount}}</a>
                                            {%empty%}
                                            <td colspan="6">No items in wishlist</td>
                                    </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="cart-page-total">
                        <ul>
                            <li>Total <span>&#8358;{{order.total}}  </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}