{% extends 'base.html' %}
{% load static %}
{%load humanize%}
{%block content%}

    <main class="main">
        <div class="page-content">
            <div class="product-details-top">
                <div class="bg-light pb-5 mb-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                        <div class="container d-flex align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/">{{product.category.category}}</a></li>
                                <li class="breadcrumb-item"><a href="/">{{product.sub_category}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                            </ol>

                            <nav class="product-pager ml-auto" aria-label="Product">
                                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                                    <i class="icon-angle-left"></i>
                                    <span>Prev</span>
                                </a>

                                <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                                    <span>Next</span>
                                    <i class="icon-angle-right"></i>
                                </a>
                            </nav><!-- End .pager-nav -->
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->
                    <div class="container">
                        <div class="product-gallery-carousel owl-carousel owl-full owl-nav-dark">
                            {% for img in product.prod_imgs %}
                            <figure class="product-gallery-image " style ="height:300px !important">
                                <img  src="{{img}}" data-zoom-image="{{img}}" alt="{{product.name}}">
                            </figure><!-- End .product-gallery-image -->
                            {% endfor %}
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light pb-5 -->

                <div class="product-details product-details-centered product-details-separator">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="product-title">{{product.name}}</h1><!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: {{product.average_rating.percentage}}%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <a class="ratings-text" href="#product-review-link" id="review-link">( {{product.average_rating.no_reviews}} Reviews )</a>
                                </div><!-- End .rating-container -->

                                <div class="product-price">
                                    {% if product.discount == 0 %}
                                    <span class="new-price new-price-2">&#8358;{{product.price|intcomma}}</span>
                                    {% else %}
                                    <span class="new-price new-price-2">&#8358;{{product.discount_price|intcomma}}</span>
                                    <span class="old-price">&#8358;{{product.price|intcomma}}</span>
                                    <span class="discount-percentage">-{{product.discount}}%</span>
                                    {% endif %}
                                </div><!-- End .product-price -->


                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details-action">
                                    <div class="details-action-col">
                                        <div class="product-details-quantity">
                                            {% if cart_item %}
                                            <input type="number" id="qty" class="form-control" value="{{cart_item.number_of_items}}" min="1" max="10" step="1" data-decimals="0" required>
                                            {% else %}
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                            {% endif %}
                                        </div><!-- End .product-details-quantity -->

                                        {% if product.in_stock %}
                                        <button onclick="AddProdTocart(this)" class="btn-product btn-cart" id="add-cart-btn" type="submit"> Add to cart <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                        {% else %}
                                        <button disabled  class="add-to-cart btn btn-secondary" id="add-cart-btn" type="submit"> Out Of Stock </button>
                                        {% endif %}
                                    </div><!-- End .details-action-col -->

                                    <div class="details-action-wrapper">
                                        <button style="border:0; background:none" onclick="AddToWishList(this)" class="btn-product btn-wishlist" id="add-cart-btn"> <i class="fa fa-shopping-cart"> </i><span>add to wishlist</span></a> <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                    </div><!-- End .details-action-wrapper -->
                                </div><!-- End .product-details-action -->

                                <div class="product-details-footer details-footer-col">
                                    <div class="product-cat">
                                        <span>Category:</span>
                                        <a href="{% url 'product' product.category.slug %}">{{product.category}}</a>,
                                        <a href="{% url 'product' product.sub_category.slug %}">{{product.sub_category}}</a>,
                                        <a href="{% url 'product' product.product_type.slug %}">{{product.product_type}}</a>
                                    </div><!-- End .product-cat -->

                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">Share:</span>
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                    </div>
                                </div><!-- End .product-details-footer -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .product-details -->
            </div><!-- End .product-details-top -->

            <div class="container">
                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews  ({{product.average_rating.no_reviews}})</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>{{product.description}} </p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                <h3>Fabric & care</h3>
                                <ul>
                                    <li>Faux suede fabric</li>
                                    <li>Gold tone metal hoop handles.</li>
                                    <li>RI branding</li>
                                    <li>Snake print trim interior </li>
                                    <li>Adjustable cross body strap</li>
                                    <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                </ul>

                                <h3>Size</h3>
                                <p>one size</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>Delivery & returns</h3>
                                <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>Reviews ({{product.average_rating.no_reviews}})</h3>
                                {% for review in product.reviews %}
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-2">
                                            <h4><a href="#">{{review.user.first_name}} {{review.user.last_name}}.</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: {{review.percentage_rating}}%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">{{review.date}}</span>
                                        </div><!-- End .col -->
                                        <div class="col-8">
                                            <h4>{{review.title}}</h4>

                                            <div class="review-content">
                                                <p>{{review.review}}</p>
                                            </div><!-- End .review-content -->

                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                                {%empty%}
                                <div> No reviews yet </div>
                                {% endfor %}

                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->
            </div><!-- End .container -->
            
            <div class="container">
                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "480": {
                                "items":3
                            },
                            "768": {
                                "items":4
                            },
                            "992": {
                                "items":5
                            },
                            "1200": {
                                "items":6,
                                "nav": true,
                                "dots": true
                            }
                        }
                    }'>
                    {% for product in products %}
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="{% url 'product' product.slug %}">
                                <img style="height:200px" src="{{product.img1.url}}" alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <button style="border:0" onclick="AddToWishList(this)" class="btn-product-icon btn-wishlist btn-expandable" id="add-cart-btn"> <i class="fa fa-shopping-cart"> </i><span>add to wishlist</span></a> <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                                
                            </div><!-- End .product-action-vertical -->

                            <div class="product-action">
                                <button style="border:0" onclick="AddTocart(this)" class="btn-product btn-cart" id="add-cart-btn" type="submit"> <i class="fa fa-shopping-cart"> </i><span>add to cart</span></a> <input type="hidden" id ="prod-name" value="{{product.slug}}"></span></button>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">{{product.sub_category}}</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                {% if product.discount == 0 %}
                                <span class="new-price ">&#8358;{{product.price |intcomma }}</span>
                                {% else %}
                                <span class="new-price ">&#8358;{{product.discount_price |intcomma }}</span>
                                <span class="old-price">&#8358;{{product.price |intcomma }}</span>
                                <span class="discount-percentage">-{{product.discount}}%</span>
                                {% endif %}
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: {{product.average_rating.percentage}}%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( {{product.average_rating.no_reviews}} Reviews )</span>
                            </div><!-- End .rating-container -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>



    
    <script >
        function AddProdTocart(btn) {
            //  const trElem = btn.parentNode.parentNode
              const slug = btn.querySelector("#prod-name").value
              const quantity = document.getElementById("qty").value
              fetch(`{% url 'add-cart'   %}?slug=${slug}&qty=${quantity}`, {
                  method: "GET",
              })
                  .then((res) => res.json())
                  .then((data) => {
               //   console.log("data", data);
                   if (data['status'] == 400) {
                      alert(`item has already been added to cart`)
                  } else  {
                      alert(`item ${slug} has been added to cart`)

                      fetchCartData()
                  }
                  });
      }
    </script>



{% endblock %}