{% extends 'main/base.html' %}
{% load static %}
{% block content %}
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content capitalize">
                        <ul>
                            <li><a href="{% url 'homepage' %}">Home</a></li>
                            <li><a href="{% url 'shop' product.category.slug %}">{{product.category}}</a></li>
                            <li><a href="{% url 'shop' product.sub_category.slug %}">{{product.sub_category}}</a></li>
                            <li><a href="{% url 'shop' product.product_type.slug %}">{{product.product_type}}</a></li>

                            <li class="active">{{product.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- content-wraper start -->
            <div class="content-wraper">
                <div class="container">
                    <div class="row single-product-area">
                        <div class="col-lg-5 col-md-6">
                           <!-- Product Details Left -->
                            <div class="product-details-left">
                                <div class="product-details-images slider-navigation-1">
                                    <div class="lg-image">
                                        <img src="{{product.img1.url}}" alt="product image">
                                    </div>
                                    <div class="lg-image">
                                        <img src="{{product.img2.url}}" alt="product image">
                                    </div>
                                    <div class="lg-image">
                                        <img src="{{product.img3.url}}" alt="product image">
                                    </div>
                                    <div class="lg-image">
                                        <img src="{{product.img4.url}}" alt="product image">
                                    </div>
                                    <div class="lg-image">
                                        <img src="{{product.img5.url}}" alt="product image">
                                    </div>
                                  
                                </div>
                                <div class="product-details-thumbs slider-thumbs-1">
                                    <div class="sm-image"><img src="{{product.img1.url}}" alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{product.img2.url}}" alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{product.img3.url}}" alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{product.img4.url}}" alt="product image thumb"></div>
                                    <div class="sm-image"><img src="{{product.img5.url}}" alt="product image thumb"></div>
                                </div>
                            </div>
                            <!--// Product Details Left -->
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="product-details-view-content sp-sale-content pt-60">
                                <div class="product-info">
                                    <h2>{{product.name}}</h2>
                                 
                                    <div class="price-box pt-20">
                                        <span class="new-price new-price-2">${{product.price}}</span>
                                    </div>
                                    {% comment %} <div class="countersection">
                                        <div class="li-countdown product-sale-countdown"></div>
                                    </div> {% endcomment %}
                                    <div class="product-desc">
                                        <p>
                                            <span>{{product.description}}
                                            </span>
                                        </p>
                                    </div>
                                    
                                    
                                </div>
                                <div class="product-additional-info pt-25">
                                        
                                        {% if user.is_authenticated %}
                                        <button onclick="AddTocart(this)" class="add-to-cart btn btn-warning" id="add-cart-btn" type="submit"> Add to cart <span id="prod-name"> {{product.slug}}</span></button>
                                        {% comment %} <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i></a> {% endcomment %}
                                        <button onclick="AddToWishList(this)" class="btn btn-warning"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                        {% else %}
                                        <button onclick="loginRequiredAction()" class="add-to-cart btn btn-warning" id="add-cart-btn" type="submit">Add to cart <span id="prod-name"> {{product.slug}}</span></button>
                                        {% comment %} <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i></a> {% endcomment %}
                                        <button onclick="loginRequiredAction()" class="btn btn-warning"><i class="fa fa-heart-o"></i> <span id="prod-name">Add to wishlist {{product.slug}}</span></button>
                                        {% endif %}
                                        <div class="product-social-sharing pt-25">
                                            <ul>
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- content-wraper end -->
            <!-- Begin Product Area -->
            <div class="product-area pt-35">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                                </ul>               
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                       
                        <div id="reviews" class="tab-pane active show" role="tabpanel">
                            <div class="product-reviews">
                                <div class="product-details-comment-block">
                                    <div class="comment-author-infos pt-25">
                                        <span>User </span>
                                        <em>Comment Date</em>
                                    </div>
                                    <div class="comment-review">
                                        <ul class="rating">
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <p>comment detail</p>
                                    
                                 
                                    <div class="review-btn">
                                        <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
                                    </div>
                                    <div class="modal fade modal-wrapper" id="mymodal" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h3 class="review-page-title">Write Your Review</h3>
                                                    <div class="modal-inner-area row">
                                                      
                                                        <div class="col-lg-12">
                                                            <div class="li-review-content">
                                                                <!-- Begin Feedback Area -->
                                                                <div class="feedback-area">
                                                                    <div class="feedback">
                                                                        <form action="{% url 'review' product.slug %}" method='post'>
                                                                            {% csrf_token %}
                                                                            <p class="your-opinion">
                                                                                <label>Your Rating</label>
                                                                                <span>
                                                                                    <select class="star-rating" name="rating">
                                                                                      <option value="1">1</option>
                                                                                      <option value="2">2</option>
                                                                                      <option value="3">3</option>
                                                                                      <option value="4">4</option>
                                                                                      <option value="5">5</option>
                                                                                    </select>
                                                                                </span>
                                                                            </p>
                                                                            <p class="feedback-form">
                                                                                <label for="feedback">Your Review</label>
                                                                                <textarea id="feedback" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                            </p>
                                                                            <div class="feedback-input">
                                                                               
                                                                                <div class="feedback-btn pb-15">
                                                                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">Close</a>
                                                                                    <button type="submit">Submit</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <!-- Feedback Area End Here -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Area End Here -->
            <!-- Begin Li's Laptop Product Area -->
            <section class="product-area li-laptop-product pt-30 pb-50">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span> Other products from the same brand and category </span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for item in products %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'product' item.slug %}">
                                                    <img src="{{item.img1.url}}" alt="">
                                                </a>
                                                {% if item.is_new %}
                                                <span class="sticker">New</span>
                                                {% elif item.is_hot %}
                                                <span class="sticker">hot</span>
                                                {% else %}
                                                <span class="sticker"></span>
                                                {% endif %}
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="product-details.html">{{item.brand}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="single-product.html">{{item.name}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">${{item.price}}</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><button onclick="AddTocart(this)">Add to cart <span id="prod-name"> {{product.slug}}</span></button></li>
                                                        <li><button onclick="AddToWishList(this)"><i class="fa fa-heart-o"></i> <span id="prod-name"> {{item.slug}}</span></button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>



    <script >
      
             
    </script>
            {% endblock  %}