{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    {% if request.path == '/search' %}
                    <li class="active">Search Results </li>
                    {% else %}
                    <li class="active">Product Listings  </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Li's Content Wraper Area -->
    <div class="content-wraper pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-1 order-lg-2">
                   
                    <!-- shop-top-bar start -->
                    <div class="shop-top-bar">
                        <div class="shop-bar-inner">
                            <div class="product-view-mode">
                                <!-- shop-item-filter-list start -->
                               
                                <!-- shop-item-filter-list end -->
                            </div>
                            <div class="toolbar-amount">
                                <span>Showing  {{ start_index }}-{{ end_index }} of {{ page.paginator.count }} items</span>
                            </div>
                        </div>
                        <!-- product-select-box start -->
                        {% if not request.path == '/search' %}
                        <div class="product-select-box">
                            <form id="sortForm" onchange="submit()" >  
                            <div class="product-short">
                                    <p>Sort By:</p>
                                    <select class="nice-select" name="q">
                                        <option value="trending">Relevance</option>
                                        <option value="name">Name (A - Z)</option>
                                        <option value="-name">Name (Z - A)</option>
                                        <option value="price">Price (Low &gt; High)</option>
                                        <option value="-price">Price (High &gt; Low)</option>
                                        {% comment %} <option value="-pr">Rating (Lowest)</option> {% endcomment %}
                                    </select>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        <!-- product-select-box end -->
                    </div>
                    <!-- shop-top-bar end -->
                    <!-- shop-products-wrapper start -->
                    <div class="shop-products-wrapper">
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                <div class="product-area shop-product-area">
                                    <div class="row">
                                        {% for product in page  %}
                                        <div class="col-lg-4 col-md-4 col-sm-6 mt-40">
                                            <!-- single-product-wrap start -->
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="{% url 'product' product.slug %}">
                                                        <img src="{{product.img1.url}}" alt="Li's Product Image">
                                                    </a>
                                                    {% if product.is_new %}
                                                    <span class="sticker">New</span>
                                                    {% endif %}
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a href="">{{product.product_type}}</a>
                                                            </h5>
                                                            <div class="rating-box">
                                                                <ul class="rating">
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <h4><a class="product_name" href="">{{product.name}}</a></h4>
                                                        <div class="price-box">
                                                            <span class="new-price">${{product.price}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="add-actions">
                                                        {% if user.is_authenticated %}
                                                        <ul class="add-actions-link" >
                                                            <li class="add-cart "><button class="btn" style="border:none;  cursor:pointer" onclick="AddTocart(this)">Add to cart <span id="prod-name"> {{product.slug}}</span></li>
                                                            <li> <button onclick="AddToWishList(this)"><i class="fa fa-heart-o"></i> <span id="prod-name">{{product.slug}}</span></button></li>
                                                        </ul>
                                                        {% else %}
                                                        <ul class="add-actions-link" >
                                                            <li class="add-cart "><button class="btn" style="border:none;  cursor:pointer" onclick="loginRequiredAction()">Add to cart</li>
                                                            <li> <button onclick="loginRequiredAction()"><i class="fa fa-heart-o"></i> </button></li>
                                                        </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-wrap end -->
                                        </div>

                                        {%empty%}
                                        <div class="product_desc">

                                        no products 
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                           
                            <nav class="paginatoin-area ">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <p>Showing 1-12 of 13 item(s)</p>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <ul class="pagination-box ">
                                            {% if page.has_previous %}
                                            <li class=" ">
                                                {% if request.path == '/search' %}
                                                <a class="Previous" href="?item={{item}}&page={{ page.previous_page_number }}" tabindex="-1"><i class="fa fa-chevron-left"></i> Previous</a>
                                                {% else %}
                                                <a class="Previous" href="?page={{ page.previous_page_number }}" tabindex="-1"><i class="fa fa-chevron-left"></i> Previous</a>
                                                {% endif %}
                                            </li>
                                            {% else %}
                                            <li class=" ">
                                                <a class=" disabled"  tabindex="-1" aria-disabled="true" ><i class="fa fa-chevron-left"></i> Previous</a>
                                            </li>
                                            {% endif %}
                                            {% for page_num in page.paginator.page_range %}
                                                {% if page_num == page.number %}
                                            <li class=" active"><a class="" href="#">{{ page_num }}</a></li>
                                            {% else %}

                                            {% if request.path == '/search' %}
                                            <li class=""><a class="" href="?item={{item}}&page={{ page_num }}">{{ page_num }}</a></li>
                                            {% else %}
                                            <li class=""><a class="" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                            {% endif %}

                                            {% endif %}
                                            {% endfor %}
                    
                                            {% if page.has_next %}
                                            <li class="">

                                                {% if request.path == '/search' %}
                                                <a class="Next" href="?item={{item}}&page={{ page.next_page_number }}">Next <i class="fa fa-chevron-right"></i></a>
                                                {% else %}
                                                <a class="Next" href="?page={{ page.next_page_number }}">Next <i class="fa fa-chevron-right"></i></a>
                                                {% endif %}

                                            </li>
                                            {% else %}
                                            <li class="">
                                                <a class="Next disabled" aria-disabled="true" >Next <i class="fa fa-chevron-right"></i></a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- shop-products-wrapper end -->
                </div>
                <div class="col-lg-3 order-2 order-lg-1">
                    <!--sidebar-categores-box start  -->
                    <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                        <div class="sidebar-title">
                            <h2>Browse Categories</h2>
                        </div>
                        <!-- category-sub-menu start -->
                        <div class="category-sub-menu"  style="text-transform:capitalize">
                            <ul>
                                {% for category in product_categories %}
                                <li class="has-sub"><a href="{% url 'shop' category.slug %}">{{category}}</a>
                                    <ul>
                                        {% for sub_category in category.SubCategories %}
                                        <li><a href="{% url 'shop' sub_category.slug %}">{{sub_category}}</a></li>
                                        {% endfor %} 
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- category-sub-menu end -->
                    </div>
                    <!--sidebar-categores-box end  -->
                    <!--sidebar-categores-box start  -->
                    <div class="sidebar-categores-box">
                        <div class="sidebar-title">
                            <h2>Filter By</h2>
                        </div>
                        <!-- btn-clear-all start -->
                        {% comment %} <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button> {% endcomment %}
                        <!-- btn-clear-all end -->
                        <!-- filter-sub-area start -->
                        <div class="filter-sub-area upper">
                            <h5 class="filter-sub-titel">Brand</h5>
                            <div class="categori-checkbox">
                                <form action="#">
                                    <ul>
                                        {% for brand in brands %}
                                        <li><input type="checkbox" name="product-categori"><a class="upper">{{brand.brand}} </a></li>
                                        {% endfor %}
                                    </ul>
                                </form>
                            </div>
                            </div>
                        <!-- filter-sub-area end -->
                    </div>
                    <!--sidebar-categores-box end  -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Content Wraper Area End Here -->




<script >
    function exam() {
       // alert("connected")
    }

</script>
{% endblock  %}