{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
    <main class="main">
       
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <table class="table table-wishlist table-mobile">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Stock Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                      {% for item in wishlist_items %}
                        <tr>
                            <td class="product-col">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="#">
                                            <img src="{{item.product.img1.url}}" alt="Product image">
                                        </a>
                                    </figure>

                                    <h3 class="product-title">
                                        <a href="#">{{item.product.name}}</a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            {% if item.product.discount == 0 %}
                            <td class="price-col">&#8358;{{item.product.price|intcomma}}</td>
                            {% else %}
                            <td class="price-col">&#8358;{{item.product.discount_price|intcomma}}</td>
                            {% endif %}
                            {% if item.product.in_stock %}
                            <td class="stock-col"><span class="in-stock">In stock</span></td>
                            <td class="action-col">
                                {% comment %} <button class="btn btn-block btn-outline-primary-2"><i class="icon-cart-plus"></i>Add to Cart</button> {% endcomment %}
                                <button  onclick="AddTocart(this)" class="btn btn-block btn-outline-primary-2" id="add-cart-btn" type="submit"> <i class="fa fa-shopping-cart"> </i><span>add to cart</span></a> <input type="hidden" id ="prod-name" value="{{item.product.slug}}"></span></button>

                            </td>
                            {% else %}
                            <td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
                            <td class="action-col">
                                 <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>                                
                            </td>
                            {% endif %}
                            <td class="remove-col"><button onclick="deleteCartItem(this)" class="btn-remove"><i class="icon-close"> </i>
                                 <input id="slug" type="hidden" value="{{item.product.slug}}">
                                 <input id="wish_no" type="hidden" value="{{number_of_items}}">
                                </button></td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table><!-- End .table table-wishlist -->
    
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <script>
        function deleteCartItem(elem) {
            const slug = elem.querySelector('#slug').value
            var wish_no = elem.querySelector('#wish_no').value
            const WishAmtElem = document.getElementById("wishlist-count")
            WishAmtElem.innerHTML = 0
            fetch(`{% url 'del-wishlist-item'  %}?item=${slug}`, {
                method:"GET"
            })
            .then((res) => res.json())
            .then((data) => {
                console.log('data', data)
                elem.parentNode.parentNode.innerHTML = ''
                WishAmtElem.innerHTML = wish_no -1
             })

        }
    </script>
    {% include 'js.html' %}
{% endblock %}
