{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    #product-select {
        display:none
    }
</style>
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="active">Wishlist</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!--Wishlist Area Strat-->
    <div class="wishlist-area pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Product</th>
                                        <th class="li-product-thumbnail">image</th>
                                        <th class="li-product-price">Unit Price</th>
                                        <th class="li-product-stock-status">Stock Status</th>
                                        <th class="li-product-add-cart">add to cart</th>
                                        <th class="li-product-remove">remove item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in wishlist_items %}
                                    <tr>
                                        <td class="li-product-name"><a href="{% url 'product' item.product.slug %}">{{item.product.name}}</a></td>
                                        <td class="li-product-thumbnail"><img src="{{item.product.img1.url}}" width=80 alt=""></td>
                                        {% if item.product.discount == 0 %}
                                        <td class="li-product-price"><span class="amount">&#8358;{{item.product.price|intcomma}}</span></td>
                                        {% else %}
                                        <td class="li-product-price"><span class="amount">&#8358;{{item.product.discount_price|intcomma}}</span></td>
                                        {% endif %}
                                        {% if item.product.in_stock == True %}
                                        <td class="li-product-stock-status " ><span class="in-stock text-white btn btn-success btn-sm">in stock</span></td>
                                        {% else %}
                                        <td class="li-product-stock-status"><span class="text-white btn btn-warning btn-sm">out of stock</span></td>
                                        {% endif %}
                                        
                                        {% if item.product.in_stock == True %}
                                        <td ><span style="border:none; cursor:pointer" class="btn text-white btn-warning" onclick="AddTocart(this)">Add to cart <input type="hidden" id ="prod-name" value="{{item.product.slug}}"></span></td>
                                        {% else %}
                                        <td ><span class="btn btn-secondary"> Out Of Stock</span></td>
                                        {% endif %}   

                                        <td class="li-product-remove"><a id="del-cart" style="cursor:pointer" onclick="deleteCartItem(this)"><i class="fa fa-times"></i> <span id="product-select" > {{item.product.slug}} </span></a>

                                            {%empty%}
                                            <td colspan="6">No items in wishlist</td>
                                        </tr>
                                        {% endfor %}
                                  
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    
        function deleteCartItem(elem) {
            
            fetch(`{% url 'del-wishlist-item'  %}?item=${elem.textContent}`, {
                method:"GET"
            })
            .then((res) => res.json())
            .then((data) => {
                console.log('data', data)
                elem.parentNode.parentNode.innerHTML = ''
             })
            
        }
    </script>
    {% endblock %}