{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- EzyThrift  22 Jul 2023 09:55:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EzyThrift -  Online Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="EzyThrift -  Online Store">
    <meta name="author" content="EzyThrift">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo.svg' %}">
    <meta name="apple-mobile-web-app-title" content="EzyThrift">
    <meta name="application-name" content="EzyThrift">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-3.css' %}">
</head>
